.hinario {
    display: flex;
    background-color: black;
    border: solid 1px #fefefe;
    border-radius: 5px;
    width: 800px;
    height: 600px;
}

.Card {
    position: relative;
    left: 0;
    background-image: url('./images/hinarioWallpaper.PNG');
    background-position: center;
    background-size: cover;
    /* height: 600px;
    width: 450px; */
    width: 100%;
    border-radius: 5px;
}



.list {
    width: 100%;
}